<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string> 113.657755</string>
		<string>23.130479</string>
	</array>
	<array>
		<string> 113.657757</string>
		<string>23.230478</string>
	</array>
	<array>
		<string> 113.657754</string>
		<string>23.330477</string>
	</array>
	<array>
		<string> 113.657756</string>
		<string>23.430476</string>
	</array>
</array>
</plist>
